* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header{
  background-color: antiquewhite;
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.event_name{
  width: 65%;
  display: flex;
  flex-direction: column;
}

.event_name h1{
  font-size: 20px;
  font-weight: bold;
  color: #E6E6E6;
  margin-bottom: 6px;
}

.event_name h2{
  font-size: 18px;
  font-weight: bold;
  color: #E6E6E6;
  margin-bottom: 16px;
}

.event_name p{
  font-size: 18px;
  color: #E6E6E6;
  margin-bottom: 20px;
}

.event_info{
  background-color:#F8F8F8;
  height: 12vh;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.event_detail {
  margin-top: 22px;
  background-color: #F8F8F8;
  padding: 15px;
  border-left: 5px solid #DF8F55; /* Barra lateral naranja */
  margin-left: 28px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;


}
.event_detail h3{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.event_detail p{
  font-size: 14px;
}

.body{
  background-color: #F8F8F8;
  height: 58vh;
  width: 100%;
  display:flex;

  justify-content: center;
}

.form{
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-color: #F8F8F8;
}

.form h2{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 48px;
}

.form label {
  font-size: 18px;
  font-weight:semibold;
  margin-bottom: 12px;
}

.form input, select{
  margin-bottom: 16px;
  border: 1px solid #929292;
  border-radius: 5px;
  height: 30px;
  width: 100%;
}

.form button{
  margin-top: 26px;
  background-color: #392A1F;
  color: #F8F8F8;
  height: 30px;
  width: 100%;
  border-radius: 5px;
}

.confirmed_form{
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F8F8F8;
  width: 80vw;
}

.confirmed_form h2{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 48px;
}

.confirmed_form p {
  font-size: 18px;
  font-weight:semibold;
  margin-bottom: 12px;
}

.error_form{
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F8F8F8;
  width: 80vw;
}

.error_form h2{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 48px;
}

.error_form p {
  font-size: 18px;
  font-weight:semibold;
  margin-bottom: 12px;
}


@media screen and (max-width: 550px) {
  .event_info{
    flex-direction: column;
    height: auto;
    padding-right: 40px;
  }

  .event_name{
    padding-top: 25px;
  }

  .event_name h1 {
    font-size: 19px;
    font-weight: bold;
    color: #E6E6E6;
    margin-bottom: 6px;
  }

  .event_name h2 {
    font-size: 14px;
    font-weight: bold;
    color: #E6E6E6;
    margin-bottom: 16px;
  }

  .event_name p{
    font-size: 13px;
  }

  .header {
    height: auto;
  }

  .form{
    align-items: center;
    padding-bottom: 50px;
  }

  .form label{
    font-size: 17px;
  }

  .form h2{
    font-size: 22px;
  }

  .form button{
    font-size: 16px;
  }

  .confirmed_form h2{
    font-size: 20px;
  }

  .confirmed_form p{
    font-size: 14px;
  }
}
